{% extends "_layout.twig" %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <form class="form" action="/index" method="post" id="stupidfuckingshit">
        <div class="form-group">
          <label for="softwareInput">Application</label>
          <select id="softwareInput" class="form-control" name="softwareInput">
            {% for software in software %}
              <option value="{{ software.app_id }}">{{ software.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="versionInput">Version</label>
          <input type="text" class="form-control" name="versionInput" id="versionInput">
        </div>
        <div class="form-group">
          <label for="downloadInput">Download URL</label>
          <input type="text" class="form-control" name="downloadInput" id="downloadInput">
        </div>
        <div class="form-group">
          <label for="releasedInput">Release Date</label>
          <input type="date" class="form-control" name="releasedInput" id="releasedInput">
        </div>
        <button type="submit" class="btn btn-primary" name="addButton" value="AddNewDownload">Add</button>
      </form>
    </div>
    <div class="col-md-9">
      <table class="table table-striped table-condensed">
        <tr>
          <th>App</th>
          <th>Release Date</th>
          <th>Download</th>
        </tr>
        {% for version in versions %}
          <tr>
            <td>{{ version.name }} <small>{{ version.version }}</small></td>
            <td>{{ version.released }}</td>
            <td><a href="{{ version.url }}">{{ version.url }}</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}